{% extends 'base.html.twig' %}
{% block title %} Calendrier {% endblock %}
{% block stylesheets %}
    <script>
        # calendrier {
            width
        }
        {% endblock %}
    </script>
{% endblock %}
{% block body %}
<div id="calendrier">

</div>
{% endblock %}